<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
      
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      
      <h3><b><u>Latest Mars News</u></b></h3>
      <h4><b>{{ mars.Top_News }}</b></h4>
      <h5>{{ mars.Teaser_P }}</h5>
      <br>
      
      <div class="container-fluid">
        <div class="col-lg-8">
          <h3><b>Featured Mars Image</b></h3>
          <img src="{{ mars.Featured_Image }}" alt="Feat Img" class="img-thumbnail float-left w-50 h-50">
        </div> 
        <div class="col-lg-4">
          <h4><b>Current Weather on Mars:</b></h4>
          <br>
          <h4><b><u>Mars Facts</u></b></h4>
        </div>
      </div>

    </div>
    
</body>
  
</html>
  
